<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Dashboard</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>Ionic Menu Starter</h3>

    <ion-grid *ngIf="data">
        <ion-row header>
            <ion-col>#</ion-col>
            <ion-col>Name</ion-col>
            <ion-col>Date</ion-col>
            <ion-col>Description</ion-col>
            <ion-col>Severity</ion-col>
            <ion-col>Type</ion-col>
            <ion-col>Cost</ion-col>
        </ion-row>
        <ion-row *ngFor = "let d of data">
            <ion-col>{{ d.id }}</ion-col>
            <ion-col>{{ d.latest.name }}</ion-col>
            <ion-col>{{ d.createdAt | date : 'dd/MM/yyyy hh:mm:ss' }}</ion-col>
            <ion-col>{{ d.latest.description }}</ion-col>
            <ion-col>{{ d.latest.classification }}</ion-col>
            <ion-col>{{ d.latest.type }}</ion-col>
            <ion-col>{{ d.latest.cost }}</ion-col>
        </ion-row>
    </ion-grid>

    <span *ngIf="!data">No data to display.</span>
    <br>

    <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>