<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Dashboard</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3 text-center>Incidents</h3>

    <ion-grid *ngIf="data">
        <ion-row>
            <ion-col col-12 col-sm col-md *ngFor="let d of data">
                <ion-card (click)="goToIncident(d.id)">
                    <ion-card-header>
                        <ion-item>
                            <ion-icon name="alert" item-start large *ngIf="d.latest.classification === 'major'"></ion-icon>
                            <ion-icon name="warning" item-start large *ngIf="d.latest.classification === 'minor'"></ion-icon>
                            <ion-icon name="nuclear" item-start large *ngIf="d.latest.classification === 'security'"></ion-icon>
                            <h2>{{ d.latest.name }}</h2>
                            <p>Reported by {{ d.user.firstName }} {{ d.user.lastName }} on {{ d.createdAt | date: 'dd/MM/yyyy hh:mm a' }}.</p>
                        </ion-item>
                    </ion-card-header>

                    <ion-card-content>
                        <span>{{ d.latest.description }}</span>
                    </ion-card-content>

                    <ion-card-content>
                        <ion-row>
                            <ion-col class="icon-info">
                                <ion-icon name="logo-usd"></ion-icon>
                                <div>{{ d.latest.cost }}</div>
                            </ion-col>
                            <ion-col class="icon-info">
                                <ion-icon name="checkmark-circle"></ion-icon>
                                <div>{{ d.latest.resolution ? "Yes" : "No" }}</div>
                            </ion-col>
                            <ion-col>
                                <ion-note>{{ d.latest.type == "information" ? "Information" : "Non-Information" }}</ion-note>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <span *ngIf="!data">No data to display.</span>
    <br>

    <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>